{% extends 'base.html' %}
{% block title %}
Eelco de Gee | home
{% endblock title %}
{% set active_page = 'index'  %}

{% block content %}
<section class="pb-32 text-6xl">
    <h1>Eelco de <span class="text-primary border-r-4 border-primary pr-2 border-double">Gee</span></h1>
    <h6 class="text-xl ml-32">Web Developer & Programmer</h6>
</section>
<section class="pb-32 -ml-40">
    <a class="bg-primary p-3 rounded-md text-body" href="/contact">Contact me!</a>
</section>
{% endblock content %}<h1>Welcome</h1>